body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:9px;
  width:350px;
  height:623px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:580px;
  width:102px;
  height:52px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:580px;
  width:102px;
  height:52px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:580px;
  width:102px;
  height:52px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:362px;
  width:300px;
  height:177px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:379px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:408px;
  width:211px;
  height:17px;
  color:#999999;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:442px;
  width:71px;
  height:17px;
  color:#999999;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:472px;
  width:71px;
  height:17px;
  color:#999999;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:508px;
  width:294px;
  height:1px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:442px;
  width:199px;
  height:17px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:472px;
  width:155px;
  height:17px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:515px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:519px;
  width:8px;
  height:14px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:365px;
  width:297px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
