body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:350px;
  height:623px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:600px;
  width:57px;
  height:17px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:151px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u202 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:431px;
  width:96px;
  height:151px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:444px;
  width:57px;
  height:17px;
  color:#000000;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:469px;
  width:76px;
  height:1px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:480px;
  width:57px;
  height:17px;
  color:#000000;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:505px;
  width:76px;
  height:1px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:516px;
  width:71px;
  height:17px;
  color:#000000;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:543px;
  width:76px;
  height:1px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:554px;
  width:57px;
  height:17px;
  color:#000000;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:582px;
  width:102px;
  height:52px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:582px;
  width:102px;
  height:52px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:582px;
  width:102px;
  height:52px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:435px;
  width:76px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:470px;
  width:76px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:510px;
  width:78px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:547px;
  width:78px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
