body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:21px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:27px;
  width:350px;
  height:21px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:45px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:48px;
  width:350px;
  height:45px;
  font-size:16px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:346px;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arvo Bold', 'Arvo';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:47px;
  width:19px;
  height:29px;
  font-family:'Arvo Bold', 'Arvo';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:61px;
  width:11px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:529px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:93px;
  width:350px;
  height:529px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:511px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:103px;
  width:336px;
  height:511px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:53px;
  width:33px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
