body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:58px;
  width:673px;
  height:520px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:178px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:69px;
  width:618px;
  height:178px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 123, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:25px;
  width:673px;
  height:34px;
  color:#FFFFFF;
  text-align:left;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:669px;
  word-wrap:break-word;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:34px;
  width:11px;
  height:17px;
  color:#FFFFFF;
  text-align:right;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:79px;
  width:209px;
  height:17px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:131px;
  width:582px;
  height:17px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:160px;
  width:263px;
  height:16px;
  font-size:13px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:186px;
  width:50px;
  height:47px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:186px;
  width:50px;
  height:47px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:186px;
  width:50px;
  height:47px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:186px;
  width:50px;
  height:47px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:277px;
  width:73px;
  height:21px;
  font-size:18px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:31px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:274px;
  width:2px;
  height:28px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:507px;
  width:78px;
  height:29px;
  color:#FFFFFF;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:342px;
  width:582px;
  height:16px;
  font-size:13px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:310px;
  width:582px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:168px;
  width:360px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:106px;
  width:99px;
  height:17px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u997 {
  position:absolute;
  left:95px;
  top:58px;
  visibility:hidden;
}
#u997_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:580px;
  height:491px;
  background-image:none;
}
#u997_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:491px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:491px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:9px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
