body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:58px;
  width:673px;
  height:520px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:178px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:69px;
  width:618px;
  height:178px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 123, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:25px;
  width:673px;
  height:34px;
  color:#FFFFFF;
  text-align:left;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:669px;
  word-wrap:break-word;
}
#u1020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:34px;
  width:11px;
  height:17px;
  color:#FFFFFF;
  text-align:right;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:79px;
  width:209px;
  height:17px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:131px;
  width:582px;
  height:17px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:160px;
  width:263px;
  height:16px;
  font-size:13px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:186px;
  width:50px;
  height:47px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:186px;
  width:50px;
  height:47px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:186px;
  width:50px;
  height:47px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:186px;
  width:50px;
  height:47px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:277px;
  width:73px;
  height:21px;
  font-size:18px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:31px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:274px;
  width:2px;
  height:28px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:507px;
  width:78px;
  height:29px;
  color:#FFFFFF;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:342px;
  width:582px;
  height:16px;
  font-size:13px;
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u1032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:310px;
  width:582px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  word-wrap:break-word;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:168px;
  width:360px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:106px;
  width:99px;
  height:17px;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1035 {
  position:absolute;
  left:95px;
  top:58px;
  visibility:hidden;
}
#u1035_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:580px;
  height:491px;
  background-image:none;
}
#u1035_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:491px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:491px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:9px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
